<h1>Taco Show Page</h1>
<p> Shell   --     Taste</p>
<p>{{taco.shell}} -- {{taco.taste}}</p>
<p><a href="/tacos/update/{{taco.id}}"> Update taco{{taco.id}} </a></p>
<p><a href="/tacos/delete/{{taco.id}}"> Delete taco{{taco.id}} </a></p>